/* Mobile và Tablet */
@media (max-width: 1023px) {
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }

    .category {
        display: none;
    }

    .header__navbar {
        display: none;
    }

    .header__cart {
        text-align: right;
        width: 50px;
    }

    .header__cart-notice {
        right: 0;
    }

    .header__cart-list::after {
        display: none;
    }

    .header__cart-wrap {
        margin: 0;
    }

    .header__cart-wrap {
        padding: 0 12px;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list {
        margin: 0;
    }

    .app__container {
        padding-top: 10px;
        margin-top: calc(var(--header-with-search-height) + var(--header-sort-bar-height));
    }

    .header__sort-bar {
        display: flex;
    }

    .home-filter {
        display: none;
    }

    .category-on-mobile-tablet {
        display: block;
    }

    .nav-list__wrap {
        display: block;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --header-navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__logo {
        display: block;
    }

    .header__logo {
        text-align: center;
        line-height: 0;
    }

    .header__logo-img {
        width: 110px;
    }

    .header__search {
        display: none;
    }

    .home-product {
        padding: 0 8px;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            transform: translateY(calc(var(--header-height) - 80px));
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        z-index: 2;
        padding: 0 16px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        animation: mobileSearchSideIn linear .3s;
    }

    /* 
    .text-center {
        text-align: center;
    } */
    .footer__list-item-heading {
        text-align: center;
    }

    .footer__list {
        text-align: center;
    }

    .footer__download {
        justify-content: center;
    }

    .pagination-item {
        margin: 0 20px;
    }

    .app {
        overflow: hidden;
    }

    .header__logo {
        margin-right: 30px;
    }

    .nav-list__mobile-btn {
        padding: 0 6px;
    }

    .nav-list__mobile-list {
        width: 200px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width:1023px) {
    :root {
        --header-height: 68px;
        --header-navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .nav-search {
        margin-left: 72px;
    }

    .nav-search {
        margin: 0;
    }
}

/* PC */
@media (min-width: 1024px) {
    .nav-search {
        display: none;
    }
}